/*----------NAVIGATION TOP---------*/

.logo{
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    background-color: #090911;
    padding-top: 20px;
}
.logo p{
    font-size: 10px;

}

.navigation nav{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: #131827;
    padding: 20px;
    z-index: 1;
}

.navigation nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
    
    margin-right: 300px;
}


/*---------NAVIGATION LEFT-------*/

.navigation2 nav{
    
    font-size: 20px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #131827; */
    background: linear-gradient(#2a308130,#07091830,#151d8530,#090b1b30);
    border-right: 1px solid #dddddd07;
    z-index: 1;

    
}

.navigation2 nav ul {
    list-style: none;
    border-bottom: 1px solid #dddddd10;
    padding: 25px;
    

}
.navigation2 nav ul li:hover{
   color: aqua;
   
   
}



.social{
position: fixed;  
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
bottom: 50px;
left: 30px;
z-index: 1;
}
.social img:hover{
cursor: pointer;
}


@media(max-width:1200px){
.navigation2{
    display: none;
}
    }
@media(min-width:1200px){
.navigation{
    display: none;
}
    }